<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/public/lib/angular/angular.js"></script>
</head>
<body>
	<% if ( userFullName ) { %>
	<h2>Hello <%= userFullName %> </h2>
	<a href="/signout">Sign out</a>
	<% } else { %>
	<a href="/signup">Signup</a>
	<a href="/signin">Signin</a>
	<% } %>
	<br>
	<!--suppress HtmlUnknownTarget -->
	<img src="img/logo.jpg" alt="Logo">

	<h1><%= title %></h1>
</body>
</html>